@import 'core.svg.processor';

@function SVG-Spinner( $color: black ){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="72.2px" height="72.2px" viewBox="0 0 72.2 72.2"><path fill="#{rgba($color,1)}"d="M36.1,27.1L36.1,27.1c-1.5,0-2.7-1.2-2.7-2.7V2.7c0-1.5,1.2-2.7,2.7-2.7h0c1.5,0,2.7,1.2,2.7,2.7v21.6 C38.8,25.8,37.6,27.1,36.1,27.1z"/><path fill="#{rgba($color,.9)}" d="M29.7,29.7L29.7,29.7c-1.1,1.1-2.8,1.1-3.9,0L10.6,14.4c-1.1-1.1-1.1-2.8,0-3.9l0,0c1.1-1.1,2.8-1.1,3.9,0 l15.3,15.3C30.8,26.9,30.8,28.6,29.7,29.7z"/><path fill="#{rgba($color,.7)}" d="M27.1,36.1L27.1,36.1c0,1.5-1.2,2.7-2.7,2.7H2.7c-1.5,0-2.7-1.2-2.7-2.7v0c0-1.5,1.2-2.7,2.7-2.7h21.6 C25.8,33.4,27.1,34.6,27.1,36.1z"/><path fill="#{rgba($color,.5)}" d="M29.7,42.5L29.7,42.5c1.1,1.1,1.1,2.8,0,3.9L14.4,61.6c-1.1,1.1-2.8,1.1-3.9,0l0,0c-1.1-1.1-1.1-2.8,0-3.9 l15.3-15.3C26.9,41.4,28.6,41.4,29.7,42.5z"/><path fill="#{rgba($color,.3)}" d="M36.1,45.2L36.1,45.2c1.5,0,2.7,1.2,2.7,2.7v21.6c0,1.5-1.2,2.7-2.7,2.7h0c-1.5,0-2.7-1.2-2.7-2.7V47.9 C33.4,46.4,34.6,45.2,36.1,45.2z"/><path fill="#{rgba($color,.1)}" d="M42.5,42.5L42.5,42.5c1.1-1.1,2.8-1.1,3.9,0l15.3,15.3c1.1,1.1,1.1,2.8,0,3.9l0,0c-1.1,1.1-2.8,1.1-3.9,0 L42.5,46.4C41.4,45.3,41.4,43.6,42.5,42.5z"/><path fill="#{rgba($color,.1)}" d="M45.2,36.1L45.2,36.1c0-1.5,1.2-2.7,2.7-2.7h21.6c1.5,0,2.7,1.2,2.7,2.7v0c0,1.5-1.2,2.7-2.7,2.7H47.9 C46.4,38.8,45.2,37.6,45.2,36.1z"/><path fill="#{rgba($color,.1)}" d="M42.5,29.7L42.5,29.7c-1.1-1.1-1.1-2.8,0-3.9l15.3-15.3c1.1-1.1,2.8-1.1,3.9,0l0,0c1.1,1.1,1.1,2.8,0,3.9 L46.4,29.7C45.3,30.8,43.6,30.8,42.5,29.7z"/></svg>');
}

@function SVG-Plus( $color: black ){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 5 5"><line fill="none" stroke="#{$color}" x1="3" y1="0" x1="3" y2="5" /><line fill="none" stroke="#{$color}" x1="0" y1="3" x1="5" y2="3" /></svg>');
}

@function SVG-Cross( $color: black, $attr: 'stroke-width=".25"' ){
	@return svg-process('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 5 5"><line fill="none" stroke="#{$color}" #{$attr} x1="1" y1="1" x2="4" y2="4" /><line fill="none" stroke="#{$color}" #{$attr} x1="1" y1="4" x2="4" y2="1" /></svg>');
}

@function SVG-Refresh( $color: black ){
	@return svg-process('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="tiny" x="0px" y="0px" width="480px" height="480px" viewBox="0 0 480 480" xml:space="preserve"><g id="refresh"><path fill="#{$color}" d="M383.434,172.502c-25.336-58.241-81.998-95.648-145.861-95.648c-65.309,0-125,40.928-148.514,101.827l49.5,19.117   c15.672-40.617,55.469-67.894,99.014-67.894c42.02,0,79.197,24.386,96.408,62.332l-36.117,14.428l92.352,53.279l27.01-100.933   L383.434,172.502z"/><path fill="#{$color}" d="M237.573,342.101c-41.639,0-79.615-25.115-96.592-62.819l35.604-13.763l-91.387-52.119l-27.975,98.249l34.08-13.172   c24.852,58.018,82.859,96.671,146.27,96.671c65.551,0,123.598-39.336,147.871-100.196l-49.268-19.652   C319.981,315.877,281.288,342.101,237.573,342.101z"/></g></svg>');
}

