[data-view="settings"]{
	
	background: #efefef;
	
	label {
		display: block;
		width: 100%;
		font-weight: bold;
		+ * {
			margin-top: 10px;
		}
	}
	
	small {
		font-size: 12px;
	}
	
	input {
		margin-right: 10px;
		display: block;
	}
	
	button {
	}
	
	@keyframes button-loading-spinner {
		from { transform: rotateZ(0deg); }
		to { transform: rotateZ(360deg); }
	}
	
	.loading label,
	.loading button {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: $gutter;
			height: $gutter;
			position: absolute;
			left: 100%;
			top: 50%;
			margin-top: -$gutter / 2;
			background: SVG-Spinner(white) 50% 50% no-repeat #000;
			background-size: contain;
			animation: button-loading-spinner 2s steps(8) infinite;
		}
	}

	[data-input]{
		width: 100%;
		box-sizing: border-box;
		font-size: 12px;
		margin-bottom: 10px;
		&:last-child {
			border-bottom: none;
		}
	}
	[data-input="checkbox"]{
		input, label {
			width: auto;
			display: inline-block;
		}
	}
	[data-input="file"], [data-input="directory"]{
		
		input, small {
			display: inline-block;
		}
		
		small {
			margin-left: 10px;
		}
		
	}
	[data-input="close"],
	[data-input="delete"],
	[data-input="evaluate"]{ button {
		display: block;
		padding: $gutter / 4;
		box-sizing: border-box;
		width: 100%;
		background: #fff;
		background-repeat: no-repeat;
		background-size: auto 50%;
		background-position: left $gutter / 2 top 50%;
		border: none;
	}}
	[data-input="delete"]{ button {
		
	}}
	[data-input="close"]{ button {
		background-image: SVG-Cross(#000);
	}}
	[data-input="evaluate"]{ button {
	
	}}

}