@import 'compass/reset';
@import 'icons';

$gutter: 20px;
$menu-height: $gutter * 2;
$menu-gradient-top: #eee;
$menu-gradient-bottom: #ccc;
$menu-shadow-size: $gutter / 4;
$menu-border-radius: $gutter / 4;
$arrow-size: $gutter;

html, body {
	height: 100%;
}

body {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	&:before {
		display: block;
		content: '';
		color: transparent;
		width: 0px;
		height: 0px;
		border-left: $arrow-size solid transparent;
		border-right: $arrow-size solid transparent;
		border-bottom: $arrow-size solid $menu-gradient-top;
		position: absolute;
		left: 50%;
		top: $menu-shadow-size;
		margin-left: -$arrow-size / 2;
	}
}

#container {
	display: block;
	width: calc(100% - #{$menu-shadow-size * 2});
	height: calc(100% - #{$menu-shadow-size * 2} - #{$arrow-size});
	margin-top: $menu-shadow-size + $arrow-size;
	margin-left: $menu-shadow-size;
	box-shadow: 0 0 $menu-shadow-size $menu-shadow-size rgba(#000, .1);
	border-radius: $menu-border-radius;
	overflow: hidden;
}

#logbook {
	position: fixed;
	width: calc(100% - #{$menu-shadow-size * 2} - #{$gutter});
	height: calc(100% - #{$menu-shadow-size * 2} - #{$arrow-size} - #{$gutter});
	left: $gutter / 2 + $menu-shadow-size;
	bottom: $gutter / 2 + $menu-shadow-size;
	background: #000;
	color: #fff;
	font-family: monospace;
	overflow: auto;
	opacity: 0;
	transform: translateY(100%);
	transition: transform .4s, opacity .4s;
	z-index: 5;
	pointer-events: none;
	box-shadow: 0 0 10px 1px rgba(#000, .5);
	p {
		width: 100%;
		// white-space: nowrap;
// 		overflow: hidden;
// 		text-overflow: ellipsis;
		border-bottom: 1px solid #999;
		font-size: .75em;
		strong {
			display: inline-block;
			max-width: 1em;
			height: 1em;
			overflow: hidden;
			transition: max-width .4s, border-radius .4s, color .4s;
			color: transparent;
			background: #fff;
			border-radius: 50%;
			font-size: .75em;
			&:hover {
				color: #000;
				max-width: 100vw;
				border-radius: 0;
			}
		}
	}
	&.show {
		opacity: 1;
		transform: translateY(0%);
		pointer-events: all;
	}
	&:after {
		position: fixed;
		right: $gutter;
		bottom: $gutter;
		content: '';
		width: $gutter;
		height: $gutter;
		background: url('close.png') no-repeat 50% 50% #fff;
		background-size: 50% auto;
		color: #000;
		border-radius: 50%;
	}
}

header, footer, article {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	min-height: $menu-height;
	padding: $menu-height * .25;
}

header, footer {
	z-index: 1;
	height: $menu-height;
	background: linear-gradient( $menu-gradient-top, $menu-gradient-bottom );
	a {
		display: inline-block;
		width: $menu-height * .5;
		height: $menu-height * .5;
		overflow: hidden;
		background: url('add.png') no-repeat 0 0;
		background-size: 100% auto;
		color: transparent;
		&:hover {
			background-position: 100% 100%;
		}
		&[href="#add"]{
			background-image: url('add.png');
		}
		&[href="#settings"]{
			background-image: url('settings.png');
		}
		&[href="#logbook"]{
			background-image: url('logbook.png');
		}
		&[href="#reload"]{
			background-image: SVG-Refresh();
		}
	}
}

header {
}

footer {
	text-align: right;
}

@keyframes view-in {
	from { transform: translateX(100%); }
	to { transform: translateX(0%); }
}
@keyframes view-out {
	from { transform: translateX(0%); }
	to { transform: translateX(100%); }
}

article {
	z-index: 0;
	height: calc(100% - #{$menu-height * 2});
	background: #fff;
	padding: 0;
	transition: background-color .4s, color .4s;
	> div {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: $gutter;
		box-sizing: border-box;
		box-shadow: 0 0 20px 2px rgba(#000, .2);
		animation: view-in .4s;
		animation-fill-mode: both;
		&.out {
			animation-name: view-out;
		}
	}
}

a[href*="#add"]{
	background: url('add.png') no-repeat 0 0;
	background-size: 100% auto;
	color: transparent;
	&:hover {
		background-position: 100% 100%;
	}
}

#search {
	float: right;
}

[data-error]{
	background: rgba(red, .2);
}

@import 'settings';

[data-view="list"]{
	padding: 0;
	> div {
		color: #444;
		width: 100%;
		box-sizing: border-box;
		padding: $gutter / 4;
		font-size: .8em;
		-webkit-user-select: none;  
		-moz-user-select: none;    
		-ms-user-select: none;      
		user-select: none;
		label {
			color: #ccc;
		}
		img {
			max-height: 1.5em;
			display: inline-block;
			vertical-align: middle;
		}
		&:nth-child( odd ){
			background: #efefef;
			&.selected {
				background: lighten(lightblue, 10);
			}
		}
		&:first-child {
			padding-top: $gutter / 3;
		}
		&:last-child {
			padding-bottom: $gutter / 3;
		}
		&.hide {
			display: none;
		}
		&.selected {
			background: lighten(lightblue, 5);
		}
	}
}