/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, sass/interface.scss */
html, body {
  height: 100%;
}

/* line 16, sass/interface.scss */
body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* line 19, sass/interface.scss */
body:before {
  display: block;
  content: '';
  color: transparent;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #eee;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -10px;
}

/* line 35, sass/interface.scss */
#container {
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px - 20px);
  margin-top: 25px;
  margin-left: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

/* line 46, sass/interface.scss */
#logbook {
  position: fixed;
  width: calc(100% - 10px - 20px);
  height: calc(100% - 10px - 20px - 20px);
  left: 15px;
  bottom: 15px;
  background: #000;
  color: #fff;
  font-family: monospace;
  overflow: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: transform .4s, opacity .4s;
  z-index: 5;
  pointer-events: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
/* line 62, sass/interface.scss */
#logbook p {
  width: 100%;
  border-bottom: 1px solid #999;
  font-size: .75em;
}
/* line 69, sass/interface.scss */
#logbook p strong {
  display: inline-block;
  max-width: 1em;
  height: 1em;
  overflow: hidden;
  transition: max-width .4s, border-radius .4s, color .4s;
  color: transparent;
  background: #fff;
  border-radius: 50%;
  font-size: .75em;
}
/* line 79, sass/interface.scss */
#logbook p strong:hover {
  color: #000;
  max-width: 100vw;
  border-radius: 0;
}
/* line 86, sass/interface.scss */
#logbook.show {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}
/* line 91, sass/interface.scss */
#logbook:after {
  position: fixed;
  right: 20px;
  bottom: 20px;
  content: '';
  width: 20px;
  height: 20px;
  background: url("close.png") no-repeat 50% 50% #fff;
  background-size: 50% auto;
  color: #000;
  border-radius: 50%;
}

/* line 105, sass/interface.scss */
header, footer, article {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 10px;
}

/* line 113, sass/interface.scss */
header, footer {
  z-index: 1;
  height: 40px;
  background: linear-gradient(#eee, #ccc);
}
/* line 117, sass/interface.scss */
header a, footer a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: url("add.png") no-repeat 0 0;
  background-size: 100% auto;
  color: transparent;
}
/* line 125, sass/interface.scss */
header a:hover, footer a:hover {
  background-position: 100% 100%;
}
/* line 128, sass/interface.scss */
header a[href="#add"], footer a[href="#add"] {
  background-image: url("add.png");
}
/* line 131, sass/interface.scss */
header a[href="#settings"], footer a[href="#settings"] {
  background-image: url("settings.png");
}
/* line 134, sass/interface.scss */
header a[href="#logbook"], footer a[href="#logbook"] {
  background-image: url("logbook.png");
}
/* line 137, sass/interface.scss */
header a[href="#reload"], footer a[href="#reload"] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' baseProfile='tiny' x='0px' y='0px' width='480px' height='480px' viewBox='0 0 480 480' xml:space='preserve'%3E%3Cg id='refresh'%3E%3Cpath fill='black' d='M383.434,172.502c-25.336-58.241-81.998-95.648-145.861-95.648c-65.309,0-125,40.928-148.514,101.827l49.5,19.117   c15.672-40.617,55.469-67.894,99.014-67.894c42.02,0,79.197,24.386,96.408,62.332l-36.117,14.428l92.352,53.279l27.01-100.933   L383.434,172.502z'/%3E%3Cpath fill='black' d='M237.573,342.101c-41.639,0-79.615-25.115-96.592-62.819l35.604-13.763l-91.387-52.119l-27.975,98.249l34.08-13.172   c24.852,58.018,82.859,96.671,146.27,96.671c65.551,0,123.598-39.336,147.871-100.196l-49.268-19.652   C319.981,315.877,281.288,342.101,237.573,342.101z'/%3E%3C/g%3E%3C/svg%3E");
}

/* line 146, sass/interface.scss */
footer {
  text-align: right;
}

@keyframes view-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes view-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
/* line 159, sass/interface.scss */
article {
  z-index: 0;
  height: calc(100% - 80px);
  background: #fff;
  padding: 0;
  transition: background-color .4s, color .4s;
}
/* line 165, sass/interface.scss */
article > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  animation: view-in .4s;
  animation-fill-mode: both;
}
/* line 177, sass/interface.scss */
article > div.out {
  animation-name: view-out;
}

/* line 183, sass/interface.scss */
a[href*="#add"] {
  background: url("add.png") no-repeat 0 0;
  background-size: 100% auto;
  color: transparent;
}
/* line 187, sass/interface.scss */
a[href*="#add"]:hover {
  background-position: 100% 100%;
}

/* line 192, sass/interface.scss */
#search {
  float: right;
}

/* line 196, sass/interface.scss */
[data-error] {
  background: rgba(255, 0, 0, 0.2);
}

/* line 1, sass/_settings.scss */
[data-view="settings"] {
  background: #efefef;
}
/* line 5, sass/_settings.scss */
[data-view="settings"] label {
  display: block;
  width: 100%;
  font-weight: bold;
}
/* line 9, sass/_settings.scss */
[data-view="settings"] label + * {
  margin-top: 10px;
}
/* line 14, sass/_settings.scss */
[data-view="settings"] small {
  font-size: 12px;
}
/* line 18, sass/_settings.scss */
[data-view="settings"] input {
  margin-right: 10px;
  display: block;
}
@keyframes button-loading-spinner {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* line 31, sass/_settings.scss */
[data-view="settings"] .loading label,
[data-view="settings"] .loading button {
  position: relative;
}
/* line 34, sass/_settings.scss */
[data-view="settings"] .loading label:after,
[data-view="settings"] .loading button:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='72.2px' height='72.2px' viewBox='0 0 72.2 72.2'%3E%3Cpath fill='white'd='M36.1,27.1L36.1,27.1c-1.5,0-2.7-1.2-2.7-2.7V2.7c0-1.5,1.2-2.7,2.7-2.7h0c1.5,0,2.7,1.2,2.7,2.7v21.6 C38.8,25.8,37.6,27.1,36.1,27.1z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.9)' d='M29.7,29.7L29.7,29.7c-1.1,1.1-2.8,1.1-3.9,0L10.6,14.4c-1.1-1.1-1.1-2.8,0-3.9l0,0c1.1-1.1,2.8-1.1,3.9,0 l15.3,15.3C30.8,26.9,30.8,28.6,29.7,29.7z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.7)' d='M27.1,36.1L27.1,36.1c0,1.5-1.2,2.7-2.7,2.7H2.7c-1.5,0-2.7-1.2-2.7-2.7v0c0-1.5,1.2-2.7,2.7-2.7h21.6 C25.8,33.4,27.1,34.6,27.1,36.1z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' d='M29.7,42.5L29.7,42.5c1.1,1.1,1.1,2.8,0,3.9L14.4,61.6c-1.1,1.1-2.8,1.1-3.9,0l0,0c-1.1-1.1-1.1-2.8,0-3.9 l15.3-15.3C26.9,41.4,28.6,41.4,29.7,42.5z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M36.1,45.2L36.1,45.2c1.5,0,2.7,1.2,2.7,2.7v21.6c0,1.5-1.2,2.7-2.7,2.7h0c-1.5,0-2.7-1.2-2.7-2.7V47.9 C33.4,46.4,34.6,45.2,36.1,45.2z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.1)' d='M42.5,42.5L42.5,42.5c1.1-1.1,2.8-1.1,3.9,0l15.3,15.3c1.1,1.1,1.1,2.8,0,3.9l0,0c-1.1,1.1-2.8,1.1-3.9,0 L42.5,46.4C41.4,45.3,41.4,43.6,42.5,42.5z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.1)' d='M45.2,36.1L45.2,36.1c0-1.5,1.2-2.7,2.7-2.7h21.6c1.5,0,2.7,1.2,2.7,2.7v0c0,1.5-1.2,2.7-2.7,2.7H47.9 C46.4,38.8,45.2,37.6,45.2,36.1z'/%3E%3Cpath fill='rgba(255, 255, 255, 0.1)' d='M42.5,29.7L42.5,29.7c-1.1-1.1-1.1-2.8,0-3.9l15.3-15.3c1.1-1.1,2.8-1.1,3.9,0l0,0c1.1,1.1,1.1,2.8,0,3.9 L46.4,29.7C45.3,30.8,43.6,30.8,42.5,29.7z'/%3E%3C/svg%3E") 50% 50% no-repeat #000;
  background-size: contain;
  animation: button-loading-spinner 2s steps(8) infinite;
}
/* line 49, sass/_settings.scss */
[data-view="settings"] [data-input] {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 54, sass/_settings.scss */
[data-view="settings"] [data-input]:last-child {
  border-bottom: none;
}
/* line 59, sass/_settings.scss */
[data-view="settings"] [data-input="checkbox"] input, [data-view="settings"] [data-input="checkbox"] label {
  width: auto;
  display: inline-block;
}
/* line 66, sass/_settings.scss */
[data-view="settings"] [data-input="file"] input, [data-view="settings"] [data-input="file"] small, [data-view="settings"] [data-input="directory"] input, [data-view="settings"] [data-input="directory"] small {
  display: inline-block;
}
/* line 70, sass/_settings.scss */
[data-view="settings"] [data-input="file"] small, [data-view="settings"] [data-input="directory"] small {
  margin-left: 10px;
}
/* line 77, sass/_settings.scss */
[data-view="settings"] [data-input="close"] button,
[data-view="settings"] [data-input="delete"] button,
[data-view="settings"] [data-input="evaluate"] button {
  display: block;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: left 10px top 50%;
  border: none;
}
/* line 91, sass/_settings.scss */
[data-view="settings"] [data-input="close"] button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 5 5'%3E%3Cline fill='none' stroke='%23000' stroke-width='.25' x1='1' y1='1' x2='4' y2='4' /%3E%3Cline fill='none' stroke='%23000' stroke-width='.25' x1='1' y1='4' x2='4' y2='1' /%3E%3C/svg%3E");
}

/* line 202, sass/interface.scss */
[data-view="list"] {
  padding: 0;
}
/* line 204, sass/interface.scss */
[data-view="list"] > div {
  color: #444;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: .8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 214, sass/interface.scss */
[data-view="list"] > div label {
  color: #ccc;
}
/* line 217, sass/interface.scss */
[data-view="list"] > div img {
  max-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}
/* line 222, sass/interface.scss */
[data-view="list"] > div:nth-child(odd) {
  background: #efefef;
}
/* line 224, sass/interface.scss */
[data-view="list"] > div:nth-child(odd).selected {
  background: #d4ebf2;
}
/* line 228, sass/interface.scss */
[data-view="list"] > div:first-child {
  padding-top: 6.66667px;
}
/* line 231, sass/interface.scss */
[data-view="list"] > div:last-child {
  padding-bottom: 6.66667px;
}
/* line 234, sass/interface.scss */
[data-view="list"] > div.hide {
  display: none;
}
/* line 237, sass/interface.scss */
[data-view="list"] > div.selected {
  background: #c1e1ec;
}
